<ion-header>
  <ion-toolbar>
    <ion-title>
      ENCUENTRANOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://assets-es.imgfoot.com/media/cache/1200x900/lionel-messi-psg-2223-1.jpg" />
    </ion-avatar>
    <ion-label>Lionel Andres Messi Cuccitini</ion-label>
  </ion-item>
  
  <ion-list>
    <ion-item>
      <ion-label>Seguidores</ion-label>
      <ion-badge color="primary">460 mill.</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Seguidos</ion-label>
      <ion-badge color="secondary">289</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Publicaciones</ion-label>
      <ion-badge color="danger">1.030</ion-badge>
    </ion-item>
  </ion-list>

  


</ion-content>
